---
import Card from "../ui/Card.astro";
import clsx from "clsx";

interface Feature {
  title: string;
  text: string;
  iconName: "trophy" | "brain" | "bookOpen";
  iconWhite?: boolean;
}

const features: Feature[] = [
  {
    title: "Estudia",
    text: "Accede a un temario 100% canario, siempre actualizado y al grano",
    iconName: "bookOpen",
  },
  {
    title: "Practica",
    text: "Genera tests y casos prácticos con IA para dominar cada tema.",
    iconName: "brain",
  },
  {
    title: "Compite",
    text: "Gana puntos, sube de nivel y mídete con otras opositoras en el ranking",
    iconName: "trophy",
  },
];
---

<section class={clsx("w-full", "bg-secondary")}>
  <div class={clsx("container", "bg-secondary", "grid", "md:grid-cols-3")}>
    {
      features.map((feature) => (
        <Card
          title={feature.title}
          iconName={feature.iconName}
          iconWhite={true}
          textWhite={true}
          class={clsx(
            "bg-secondary",
            "!shadow-none",
            "text-white",
            "flex",
            "items-center",
            "text-center"
          )}
        >
          {feature.text}
        </Card>
      ))
    }
  </div>
</section>
