---
// Components
import CardCentered from '../ui/CardCentered.astro'

// Props
interface Feature {
  title: string
  text: string
  iconName: 'trophy' | 'brain' | 'bookOpen'
  iconWhite?: boolean
}

const features: Feature[] = [
  {
    title: '1. Estudia',
    text: 'Accede a un temario 100% canario, siempre actualizado y al grano',
    iconName: 'bookOpen',
  },
  {
    title: 'Practica',
    text: 'Genera tests y casos prácticos con IA para dominar cada tema.',
    iconName: 'brain',
  },
  {
    title: 'Compite',
    text: 'Gana puntos, sube de nivel y mídete con otras opositoras en el ranking',
    iconName: 'trophy',
  },
]
---

<section class:list={["w-full", 'bg-secondary']}>
  <div class:list={['container','bg-secondary', 'grid', 'md:grid-cols-3']}>
    {
      features.map((feature) => (
        <CardCentered
          title={feature.title}
          iconName={feature.iconName}
          iconWhite={true}
          textWhite={true}
          class:list={[
            'bg-secondary',
            '!shadow-none',
            'text-white',
          ]}
        >
          {feature.text}
        </CardCentered>
      ))
    }
  </div>
</section>
