---
// Components
import Tag from "../atoms/Tag.astro"
import ButtonLink from "../atoms/ButtonLink";
import H3 from "../atoms/H3";

// Libs
import { clsx } from 'clsx'

// Props
import type { PricingCardType } from "../../types/pricing-card";

const {
  name,
  description = "",
  price,
  footerText = "",
  btnText,
  btnLink,
  tagText = "",
  important = false,
  className = "",
} = Astro.props as PricingCardType;
---

<article
  class={clsx(
    "card",
    "w-full",
    "bg-base-100",
    "shadow-sm",
    "mx-2",
    important && "border-2",
    important && "border-secondary",
    important ? 'scale-100' : 'scale-90',
    className
  )}
>
  <div class={clsx("card-body", "relative", 'pt-12')}>
    {
      tagText && (
        <Tag
          class={clsx(
            "absolute",
            "right-1/2 md:right-1",
            "-top-3 md:top-1",
            "translate-x-1/2 md:translate-x-0",
            "font-bold",
            "md:mr-2",
            "md:mt-2"
          )}
        >
          {tagText}
        </Tag>
      )
    }

    <H3 className="!text-4xl font-semibold">{name}</H3>

    {
      description && (
        <p class={clsx("text-base", "text-neutral", "mt-2")}>{description}</p>
      )
    }

    <p class={clsx("mt-4", "!my-0", 'text-center md:text-left')}>
      <span class={clsx("text-6xl", "font-bold")}>{price}</span>
      <span class={clsx("text-xl")}>/año + IGIC</span>
    </p>

    <div class={clsx("mt-6", "flex", "flex-col", "gap-2", "text-sm")}>
      <slot />
    </div>

    {
      footerText && (
        <p class={clsx("mt-4", "!-mb-2", "text-xs", "text-base-content")}>
          {footerText}
        </p>
      )
    }

    <div class={clsx("mt-6")}>
      <ButtonLink href={btnLink} isSoft={!important} className="btn-block">
        {btnText}
      </ButtonLink>
    </div>
  </div>
</article>
