---
// Components
import PricingCard from '../molecules/PricingCard.astro'
import H2 from '../atoms/H2'
import TextIcon from '../atoms/TextIcon.astro'

// Libs
import clsx from 'clsx'

// Data
import { plansData } from '../../libs/constants/plans'
---

<section class={clsx('container', 'text-center')}>
  <H2> Un precio justo para tu futuro </H2>
  <p class={clsx('max-w-xl', 'mx-auto', 'mt-4')}>
    Elije el plan que se adapte a ti. Todos los planes de pago son sin
    compromiso de permanencia.
  </p>

  <div class={clsx('mt-12', 'grid', 'grid-cols-1 lg:grid-cols-3', 'gap-2')}>
    {
      plansData.map((card) => (
        <PricingCard
          name={card.name}
          description={card.description}
          price={card.price}
          btnText={card.btnText}
          btnLink={card.btnLink}
          tagText={card.tagText}
          important={card.important}
          footerText={card.footerText}
          className={clsx('mx-auto')}
        >
          {card.features.map((feature) => (
            <TextIcon
              iconName={feature.iconName}
              text={feature.text}
              textVariant={feature.textVariant}
            />
          ))}
        </PricingCard>
      ))
    }
  </div>
</section>
